<div class="head-container">
    <header>
        <i class="yo-ico">&#xe689;</i>
        <div>
            <img src="https://static.zcool.cn/v3.5.180926.5/zcool/client/image/logo.png" />
        </div>
        <div>
            <i class="yo-ico">&#xe60d;</i>
            <i class="yo-ico">&#xe6b5;</i>
        </div>
    </header>
    <nav>
        <ul>
            <li class="active">首页推荐</li>
            <li>作品</li>
            <li>文章</li>
        </ul>
    </nav>
    <main>

    </main>
    <div id="footerTop">
        <a href="##">
            <img src="https://static.zcool.cn/v3.5.181008.5/zcool/client/image/down-app2.png" alt="">
        </a>
    </div>
    <footer>
        <div>
            <div>
                <a>触屏版</a>
                <b>|</b>
                <a class="active">电脑版</a>
            </div>
            <div>
                <a>反馈</a>
                <b>|</b>
                <a>回顶部</a>
            </div>
        </div>
        <div>
            <p>Copyright&copy; 2006-2018 ZCOOL</p>
        </div>
    </footer>
</div>